body {
  font-family: Arial, sans-serif;
  background: #0a3d62;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #fff;
}

h2 {
  margin-top: 0;
  color: #fff;
}

.container {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.form-section {
  background: #fff;
  padding: 20px;
  width: 40%;
  height: 250px;
  border-radius: 5px;
  flex: 1;
}

.form-section input,
.form-section textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.form-section textarea {
  height: 130px;
}

.form-section button {
  width: 100%;
  background: #27ae60;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.lists-container-vertical {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}

.list-section {
  flex: 2;
  border-radius: 5px;
  /* overflow-x: auto; */
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  border-radius: 5px;
}

th {
  padding-top: 0px;
  padding-bottom: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

td {
  padding: 10px 5px;
  vertical-align: top;
}

.task-row {
  background: #f8f9fa;
}

.actions {
  display: flex;
  gap: 5px;
}

.delete-btn,
.edit-btn,
.complete-btn {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
}

.edit-btn {
  background: #ffc107;
}

.delete-btn {
  background: #dc3545;
}

.complete-btn {
  background-color: #27ae60;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
